[submodule "numproof"]
	path = numproof
	url = git@github.com:bclarkx2/numproof.git
    branch = master
[submodule "math_shortcuts"]
	path = math_shortcuts
	url = git@github.com:bclarkx2/math_shortcuts.git
[submodule "ieee"]
	path = ieee
	url = git@github.com:bclarkx2/ieee.git
[submodule "cstyle"]
	path = cstyle
	url = git@github.com:bclarkx2/cstyle.git
